.icon-female-hover {
    background-position: 0px 0px;
    width: 25px;
    height: 48px;
}
.icon-female {
    background-position: -25px 0px;
    width: 25px;
    height: 48px;
}
.icon-male-hover {
    background-position: -50px 0px;
    width: 21px;
    height: 48px;
}
.icon-male {
    background-position: -71px 0px;
    width: 21px;
    height: 48px;
}
.icon-unmale-hover {
    background-position: -92px 0px;
    width: 21px;
    height: 48px;
}
.icon-unmale {
    background-position: 0px -48px;
    width: 21px;
    height: 48px;
}
