#modal.modal.mfp-hide.clearfix
    .form-main__close.js-close-popup
    .modal__left
        .modal__left-divider
        .modal__img
        .modal__code
    .modal__right 
        .ticket
            .ticket__caption Билет на райский отдых в кресле
            .ticket__name CASADA BISMARK 2
            form(action="").ticket__form
                input#name(type="text", name="name", placeholder="Предъявитель").ticket__input
                input#email(type="text", name="email", placeholder="Почта").ticket__input.ticket__input_half
                input#phone(type="text", name="phone", placeholder="Телефон").ticket__input.ticket__input_half
                .ticket__input-shiv
                input(type="submit", value="Вперед").btn.btn-form
