extends ./layout.jade

block title
	title Типовая страница

block css
	//- link(rel="stylesheet", href="assets/plugins/bootstrap/less/bootstrap.css")
	//- link(rel="stylesheet", href="assets/plugins/fuelux/less/fuelux.css")
	//- link(rel="stylesheet", href="assets/plugins/magnific-popup/dist/magnific-popup.css")
	//- link(rel="stylesheet", href="assets/plugins/slick-carousel/slick/slick.css")
	
block js
	//- script(src="assets/plugins/slick-carousel/slick/slick.min.js")
	//- script(src="assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js")
	script(src="assets/plugins/bootstrap/js/tab.js")
	//- script(src="assets/plugins/fuelux/js/radio.js")


block content
	span.btn.btn-main.js-link
		i.icon.icon_chair
		| Найти

	.b-form
		.letter.js-letter
		.form-main.js-form-main
			.form-main__close.js-form-close
			h2.form-main__h2 Введите данные
				br
				| для подбора
			.form-main__field
				.form-main__field-wrapper.js-option
					input#name(type="text", name="name", placeholder="Ваше имя:").form-main__field-input
					.popup-error.js-popup-error Будем знакомы?
				.form-main__field-select.js-option
					label Ваш пол:
					ul.form-main__field-options
						li.icon-male.icon-male_male.js-radio(data-toggle="tab")
						li.icon-male.icon-male_female.js-radio(data-toggle="tab")
						li.icon-male.icon-male_unmale.js-radio(data-toggle="tab")
					.popup-error.js-popup-error Надо бы определиться с полом...
				.form-main__field-select.js-option
					label Время года:
					ul.form-main__field-options
						li.icon-times.icon-times_winter.js-radio(data-toggle="tab")
						li.icon-times.icon-times_spring.js-radio(data-toggle="tab")
						li.icon-times.icon-times_summer.js-radio(data-toggle="tab")
						li.icon-times.icon-times_outum.js-radio(data-toggle="tab")
					.popup-error.js-popup-error Сменить бы погодку
				.form-main__field-wrapper.js-option
					input#name(type="text", name="name", placeholder="Повод отдохнуть...").form-main__field-input
					.popup-error.js-popup-error Может ты устал и хочешь на ручки?
			span.btn.btn-form.js-btn-form Вперед

	.b-loading.js-loading
		.loading
			.loading__header Минуточку, Василий!
			.loading__text Мы подбираем для вас
				br
				| идеальное место для отдыха...
