extends ./layout.jade

block title
	title Типовая страница

block css
	//- link(rel="stylesheet", href="assets/plugins/bootstrap/less/bootstrap.css")
	//- link(rel="stylesheet", href="assets/plugins/fuelux/less/fuelux.css")
	//- link(rel="stylesheet", href="assets/plugins/magnific-popup/dist/magnific-popup.css")
	//- link(rel="stylesheet", href="assets/plugins/slick-carousel/slick/slick.css")
	
block js
	//- script(src="assets/plugins/slick-carousel/slick/slick.min.js")
	//- script(src="assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js")
	script(src="assets/plugins/bootstrap/js/tab.js")
	//- script(src="assets/plugins/fuelux/js/radio.js")


block content
	span.btn.btn-main.js-link
		i.icon.icon_chair
		| Найти

	.b-form
		.letter.js-letter
		.form-main.js-form-main.show
			.form-main__close.js-form-close
			h2.form-main__h2 Введите данные
				br
				| для подбора
			.form-main__field
				input#name(type="text", name="name", placeholder="Ваше имя:").form-main__field-input
				.form-main__field-select.error
					label Ваш пол:
					ul.form-main__field-options
						li.icon-male.icon-male_male(data-toggle="tab")
						li.icon-male.icon-male_female(data-toggle="tab")
						li.icon-male.icon-male_unmale(data-toggle="tab")
				.form-main__field-select
					label Время года:
					ul.form-main__field-options
						li.icon-times.icon-times_winter(data-toggle="tab")
						li.icon-times.icon-times_spring(data-toggle="tab")
						li.icon-times.icon-times_summer(data-toggle="tab")
						li.icon-times.icon-times_outum(data-toggle="tab")
				input#name(type="text", name="name", placeholder="Повод отдохнуть...").form-main__field-input
			span.btn.btn-form Вперед
