extends ./place.jade

block land 
	.b-land__img
		img(src="assets/img/africa.jpg", alt="")
	.b-land__caption.js-land-caption
		.b-land__icon
		.b-land__header Африка
		.b-land__text Релакс в песках и гарантированный загар. 

block path
	img(src="assets/img/africa-path.jpg", alt="")
