extends ./layout.jade

block title
	title Типовая страница

block css
	//- link(rel="stylesheet", href="assets/plugins/bootstrap/less/bootstrap.css")
	//- link(rel="stylesheet", href="assets/plugins/fuelux/less/fuelux.css")
	//- link(rel="stylesheet", href="assets/plugins/magnific-popup/dist/magnific-popup.css")
	//- link(rel="stylesheet", href="assets/plugins/slick-carousel/slick/slick.css")
	
block js
	//- script(src="assets/plugins/slick-carousel/slick/slick.min.js")
	//- script(src="assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js")
	//- script(src="assets/plugins/bootstrap/js/tab.js")
	//- script(src="assets/plugins/fuelux/js/radio.js")
	script(src="assets/js/chair.js")


block page
	.b-land
		.b-land__img
			img(src="assets/img/africa.jpg", alt="")
		.b-land__caption
			.b-land__icon
			.b-land__header Африка
			.b-land__text Релакс в песках и гарантированный загар. 
		.b-letter-chair.js-letter-chair.show
			.b-about
				.about
					.about__red Василий,
						br
						| Вы заслужили отдых!
					.about__time 
						strong 15
						span минут в кресле
					.about__title CASADA BISMARK 2
					.about__descr
						p Вращающиеся массажные головки помогают расслабить мышцы позвоночника, а сочетание с вибромассажем и функцией прогрева, поможет улучшить циркуляцию крови. Создайте свой уголок комфорта, который предназначен только для вас. Автоматические программы, которые включают в себя комбинацию нескольких видов массажа. Кроме того, вы можете получить доступ к ручному управлению программами с помощью пульта дистанционного управления, который является очень прост и понятен в использовании.
				.letter-chair
	.main-full-width.clearfix
		.b-path
			.b-path__header Как добраться:
			.b-path__img
				img(src="assets/img/africa-path.jpg", alt="")
			.b-path__or или
			.b-path__button.btn.btn-form.js-path-button есть идея получше
		a(href="http://vsemassager.ru").sign www.vsemassager.ru

