extends ./place.jade

block land 
	.b-land__img.js-land-img
		img(src="assets/img/bagami.jpg", alt="")
	.b-land__caption.js-land-caption
		.b-land__icon
		.b-land__header Багамы 
		.b-land__text Розовый пляж – сочетание бирюзового карибского мелководья с гламурно-розовым цветом побережья. Коралловые рифы, пальмы… Все заботы растворяются в этом тропическом раю, оставляя место только для расслабленности и умиротворения.

block path
	img(src="assets/img/bagami-path.jpg", alt="")
