extends ./layout.jade

block title
	title Типовая страница

block css
	//- link(rel="stylesheet", href="assets/plugins/bootstrap/less/bootstrap.css")
	//- link(rel="stylesheet", href="assets/plugins/fuelux/less/fuelux.css")
	//- link(rel="stylesheet", href="assets/plugins/magnific-popup/dist/magnific-popup.css")
	//- link(rel="stylesheet", href="assets/plugins/slick-carousel/slick/slick.css")
	
block js
	//- script(src="assets/plugins/slick-carousel/slick/slick.min.js")
	//- script(src="assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js")
	//- script(src="assets/plugins/bootstrap/js/tab.js")
	//- script(src="assets/plugins/fuelux/js/radio.js")


block page
	#page.page
		.b-land
			.b-land__img
				img(src="assets/img/kalifornia.jpg", alt="")
			.b-land__caption
				.b-land__icon
				.b-land__header Калифорния
				.b-land__text Термальные источники. Никогда ещё забота о здоровье не приносила столько удовольствия.  Неспешный заплыв в горячей воде, нежный массаж джакузи,  и вид на заснеженные вершины – необыкновенный контраст для идеального отдыха.
		.b-path
			.b-path__header Как добраться:
			.b-path__img
				img(src="assets/img/kalifornia-path.jpg", alt="")
			.b-path__or или
			.b-path__button.btn.btn-form есть идея получше
		a(href="http://vsemassager.ru").sign www.vsemassager.ru

	