extends ./place.jade

block land 
	.b-land__img.js-land-img
		img(src="assets/img/arktica.jpg", alt="")
	.b-land__caption.js-land-caption
		.b-land__icon
		.b-land__header Арктика
		.b-land__text Дайвинг с белым медведем

block path
	img(src="assets/img/arktica-path.jpg", alt="")
