extends ./place.jade

block land
	.b-land__img.js-land-img
		img(src="assets/img/kalifornia.jpg", alt="")
	.b-land__caption.js-land-caption
		.b-land__icon
		.b-land__header Калифорния
		.b-land__text Термальные источники. Никогда ещё забота о здоровье не приносила столько удовольствия.  Неспешный заплыв в горячей воде, нежный массаж джакузи,  и вид на заснеженные вершины – необыкновенный контраст для идеального отдыха.

block path 
	img(src="assets/img/kalifornia-path.jpg", alt="")
