extends ./place.jade

block land 
	.b-land__img
		img(src="assets/img/laplandia.jpg", alt="")
	.b-land__caption.js-land-caption
		.b-land__icon
		.b-land__header Лапландия 
		.b-land__text Катание на оленях.  Все статусы и условности остаются за пределами полярного круга,  ты снова ребенок и Рождество – это не дата на календаре, а сказка и состояние души. Восторг переполняет сердце, а тело чувствует себя молодым и здоровым. И вот уже с утра ты бежишь погладить северных оленей. 

block path
	img(src="assets/img/laplandia-path.jpg", alt="")
