extends ./place.jade

block land 
	.b-land__img
		img(src="assets/img/baikal.jpg", alt="")
	.b-land__caption.js-land-caption
		.b-land__icon
		.b-land__header Байкал 
		.b-land__text отдых у озера в лесу

block path
	img(src="assets/img/baikal-path.jpg", alt="")
