/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
@import url('../_less/base.less');
@import url('../_less/fonts.less');

@content-width: 1200px;
@font-size-base: 16px;
@font-family-base: @ff-n-n;
@line-height-base: 1.42;

@color-base-text: #333333;
@color-red-text: #ed0f33;
@color-red-btn: #ff1339;
html, body {
	height: 100%;
}
body {
	font:@font-size-base @font-family-base;
	position: relative;
	line-height: @line-height-base;
	-webkit-font-smoothing: antialiased;
	color: @color-base-text;
	&.ov {
		overflow: hidden;
	}
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: 700;
}
h2 {
	font-size: 30px;
	margin-bottom: 20px;
}
h4 {
	font-size: 20px;
	margin-bottom: 10px;
}
p {
	margin-bottom: 20px;
}
a {

}
.page {
	position: relative;
	min-height: 100%;
	min-width: @content-width;
	background:  50% no-repeat;
	background-size: auto 100%;
	transition: background 1s;
	overflow: hidden;
	&_main {
		background-image: url('../img/bg-main.jpg');	
	}
	&.form {
		background-image: url('../img/bg-form.jpg');
	}
}
.main {
	position: relative;
}
.main, .main-static {
	width: @content-width;
	margin: 0 auto;
	.clearfix;
}
.main-full-width {
	position: relative;
	min-width: @content-width;
	.clearfix;
}
.content {
	.clearfix;
}

.btn {
	.ablock();
	width: 275px;
	height: 98px;
	line-height: 98px;
	color: #fff;
	font-size: 30px;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: @color-red-btn;
	transition: background-color .175s;
	padding: 0 10px;
	cursor: pointer;
	&:hover {
		background-color: darken(@color-red-btn, 10%);
	}
}
.btn-main {
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 200px;
}
.btn-form {
	margin: 0 auto;
	text-align: center;
	height: 68px;
	line-height: 68px;
	font-size: 24px;
}
.btn-chair {
	height: 72px;
	line-height: 72px;
	font-size: 26px;
	display: inline-block;
	padding: 0 25px;
	width: auto;
}

@import url('../_less/icons.less');

.b-map {
	overflow: auto;
}

.form-main {
	position: absolute;
	z-index: 110;
	bottom: -750px;
	left: 0;
	right: 0;
	transition: bottom 1s;
	width: 737px;
	margin: 90px auto 0;
	border-radius: 10px;
	padding: 50px 123px;
	background-color: #e6e4d7;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.75);
	&__close {
		box-sizing: content-box;
		position: absolute;
		top: 0;
		right: 0;
		padding: 13px;
		width: 19px;
		height: 21px;
		background: data-uri('../ico/close.png') 50% 50% no-repeat;
		cursor: pointer;
	}
	&__h2 {
		font-size: 40px;
		text-align: center;	
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&__field {
		width: 464px;
		background-color: white;
		border: 1px solid white;
		background-color: #eee;
		border-radius: 6px;
		margin: 0 auto 45px;
		box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
		&-wrapper {
			position: relative;
		}
		&-input, &-select {
			position: relative;
			width: 100%;
			height: 78px;
			line-height: 78px;
			color: #404040;
			.plh(#626262);
			font-size: 20px;
			padding: 0 20px;
			&.error {
				color: @color-red-text;
			}
		}
		&-input {
			background: none;
			cursor: pointer;
			transition: background-color .175s;
			border-top: 2px solid #ccc;
			border-radius: 4px;
			&:first-child {
				border-top: none;
			}
			&:hover {
				background-color: #ececec;
			}
		}
		&-select {
			color: #626262;
			background-color: #fff;
			border: 1px solid #fff;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
		}
		&-options {
			display: inline-block;
			margin-left: 12px;
		}
	}
	&.show {
		bottom: 100px;
	}
}
.letter {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: -500px;
	transition: bottom 1s;
	width: 1059px;
	height: 246px;
	margin: 0 auto;
	background: url(../img/letter.png) 50% no-repeat;
	&.show {
		bottom: 0;
	}
}


.popup-error {
	position: absolute;
	left: 90%;
	top: 0;
	.op(0);
	margin-left: 15px;
	border-radius: 5px;
	padding: 0 20px 0 90px;
	height: 68px;
	color: #626262;
	line-height: 68px;
	white-space: nowrap;
	font-size: 16px;
	font-family: Verdana;
	background: #fff data-uri('../ico/oops.png') 10px 50% no-repeat;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.55);
	transition: all .5s;
	&:before {
		content: '';
		position: absolute;
		right: 100%;
		bottom: 4px;
		width: 13px;
		height: 29px;
		background: url('../ico/popup-corner.png') 0 0 no-repeat;
	}
	&.show {
		.op(1);
		left: 100%;
	}
}

.b-loading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 500px;
	z-index: 100;
}
.loading {
	color: #fff;
	text-align: center;
	&__header {
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__text {
		font-size: 18px;
	}
}

.b-land {
	min-width: @content-width;
	height: 100%;
	position: relative;
	overflow: hidden;
	&__img {
		height: 100%;
		overflow: hidden;
		img {
			min-height: 100%;
		}
	}
	&__caption {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 550px;
		margin: auto;
		text-align: center;
		color: #fff;
	}
	&__icon {
		width: 162px;
		height: 159px;
		display: inline-block;
		background: data-uri('../ico/big-chair.png') 0 0 no-repeat;
		margin-bottom: 50px;
	}
	&__header {
		.ff-rupster;
		font-size: 130px;
		margin-bottom: 60px;
	}
	&__text {
		font-weight: bold;
		.ff-7-n;
		font-size: 22px;
		width: 780px;
		margin: 0 auto;
	}
}

.b-path {
	position: relative;
	text-align: center;
	&__img {
		margin-bottom: 50px;
		img {
			max-width: 100%
		}
	}
	&__header {
		font-size: 50px;
		.ff-rupster;
		margin: 75px 0 70px;
	}
	&__or {
		font-size: 50px;
		margin-bottom: 10px;
		.ff-rupster;
	}
	&__button {
		margin-bottom: 36px;
	}
}

.sign {
	position: absolute;
	.ablock();
	bottom: -3px;
	right: 0;
	padding: 6px 20px;
	width: 285px;
	height: 57px;
	font-size: 22px;
	color: #fff;
	background: url(../img/sign.png) 0 0 no-repeat;
}

.b-letter-chair {
	position: absolute;
	padding-top: 36px;
	top: 100%;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: top 1s;
	&.show {
		top: 0;
	}
}

.letter-chair:extend(.letter) {
	left: -44px;
	bottom: 0;
	height: 175px;
	background: url(../img/letter2.png) -7px 0 no-repeat;
}

.about {
	position: relative;
	width: 970px;
	min-height: 100%;
	margin: auto;
	padding: 50px 50px 175px;	
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
	font-size: 18px;
	&__red {
		line-height: 1;
		color: @color-red-text;
		font-size: 36px;
		text-transform: uppercase;
		margin-bottom: 16px;
	}
	&__time {
		font-weight: bold;	
		.ff-7-n;
		font-size: 36px;
		strong {
			font-size: 48px;
			margin-right: 10px;
		}
	}
	&__title {
		font-weight: bold;
		.ff-7-n;
		font-size: 48px;
		line-height: 1;
		margin-bottom: 30px;
	}
	&__img {
		position: relative;
		float: right;
		padding-bottom: 100px;
	}
	&__social {
		position: absolute;
		right: -79px;
		bottom: 20px;
		width: 421px;
		height: 80px;
		line-height: 80px;
		padding: 0 20px;
		color: #fff;
		font-size: 20px;
		background: #70a220;
		&-icon {
			display: inline-block;
			vertical-align: middle;
			.round(52px);
			border: 2px solid #fff;
			margin-left: 10px;
			margin-bottom: 2px;
			background: 50% 50% no-repeat;
			&:first-child {
				margin-left: 17px;
			}
			&_fb {
				background-image: data-uri('../ico/icon-fb.png');
			}
			&_ok {
				background-image: data-uri('../ico/icon-ok.png');
			}
			&_vk {
				background-image: data-uri('../ico/icon-vk.png');
			}
		}
		&:after {
			content: '';
			position: absolute;
			width: 255px;
			height: 13px;
			top: 100%;
			right: 0;
			background: data-uri('../ico/social-shadow.png') 100% 0 no-repeat;
		}
	}
	&__more {
		position: relative;
		display: inline-block;
		color: #098fc8;
		.dashed(@width: 2px,@color: #cbdfed);
		font-size: 20px;
		font-weight: 400;
		transition: color .175s;
		margin-bottom: 20px;
		&:hover {
			color: lighten(#098fc8, 10%);
		}
		&:after {
			content: '';
			position: absolute;
			top: 3px;
			bottom: 0;
			margin: auto;
			left: 100%;
			margin-left: 10px;
			width: 9px;
			height: 6px;
			background:  data-uri('../ico/caret-top.png') 0 0 no-repeat;
		}
		&.expanded:after {
			background-image: url('../ico/caret-donw.png');	
		}
	}
	&__table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 5px;
		margin-left: -5px;
		margin-bottom: 5px;
		td {
			width: 50%;
			vertical-align: top;
		}	
	}
	&__bottom {
		position: absolute;
		z-index: 130;
		bottom: 60px;
	}
	&__close {
		font-size: 22px;
		font-weight: bold;
		.ff-7-n;
		color: #098fc8;
		margin-left: 20px;
	}
}

.modal {
	position: relative;
	width: 970px;
	display: table;
	margin: 20px auto; //*
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.75);
	&__left, &__right {
		display: table-cell;
		background: #e6e4d7;
		.bdrs(15px);
	}
	&__left {
		position: relative;
		background: repeating-linear-gradient(45deg, #e6e4d7 , #e6e4d7 10px, #dfddcc 10px, #dfddcc 20px );
		background: -webkit-repeating-linear-gradient(45deg, #e6e4d7 , #e6e4d7 10px, #dfddcc 10px, #dfddcc 20px );
		width: 230px;
		border-right: 1px solid #b0afa6;
		&-divider {
			position: absolute;	
			top: 15px;
			right: -3px;
			bottom: 15px;
			width: 5px;
			background: data-uri('../ico/letter-dash.png') repeat-y;
		}
	}
	&__right {
		margin-left: 230px;
	}
	&__img {
		position: absolute;
		left: -47px;
		top: -140px;
		width: 492px;
		height: 376px;
		background: url(../img/mark.png) 0 0 no-repeat;
	}
	&__code {
		position: absolute;
		bottom: 42px;
		left: 0;
		right: 0;
		margin: auto;
		width: 197px;
		height: 56px;
		background: url(../img/code.png) 0 0 no-repeat;
	}
}

.ticket {
	padding: 45px;
	&__caption {
		font-size: 26px;		
		text-transform: uppercase;
		text-align: right;
	}
	&__name {
		font-size: 48px;
		font-weight: bold;
		.ff-7-n;
		color: @color-red-text;
		text-align: right;
		margin-bottom: 35px;
		line-height: 1;
	}
	&__form {
		position: relative;
		z-index: 1;
		text-align: justify;
	}
	&__input {
		width: 100%;
		height: 78px;
		line-height: 78px;	
		border: 1px solid #fff;
		background: #ececec;
		padding: 0 15px;
		font-size: 20px;
		.plh(#636363);
		box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
		margin-bottom: 13px;
		.bdrs(5px);
		&_half {
			width: 49%;
		}
		&-shiv {
			display: inline-block;
			width: 100%;
			height: 0;
			visibility: hidden;
		}
	}
}
// from magnific popup
.mfp-bg {
	.op(.3);
}
.mfp-close {
	display: none !important;
}
//==================================
@import url('../_less/helper.less');
