@font-face {
    font-family: "RupsterScriptFree";
    src: url("../fonts/webfonts/RupsterScriptFree.eot");
    src: local("☺︎"), url("../fonts/webfonts/RupsterScriptFree.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@ff-n-n: "RupsterScriptFree", helvetica, arial, sans-serif;
.ff-n-n(){
font-family:@ff-n-n;
}