.icon-outum-hover {
    background-position: -68px 0px;
    width: 27px;
    height: 33px;
}
.icon-outum {
    background-position: -68px -33px;
    width: 27px;
    height: 33px;
}
.icon-spring-hover {
    background-position: -95px 0px;
    width: 26px;
    height: 34px;
}
.icon-spring {
    background-position: 0px -66px;
    width: 26px;
    height: 34px;
}
.icon-summer-hover {
    background-position: 0px -33px;
    width: 33px;
    height: 33px;
}
.icon-summer {
    background-position: -33px -33px;
    width: 33px;
    height: 33px;
}
.icon-winter-hover {
    background-position: 0px 0px;
    width: 34px;
    height: 33px;
}
.icon-winter {
    background-position: -34px 0px;
    width: 34px;
    height: 33px;
}
